@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
}

a, ul, li{
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #EDF6F9;
    --text-title: #006D77;
    --text-color: #221F20;
    --bg-hover-color: #83c5BE;
    --bg-sub-title: #83c5BE;
    --bg-main: #EBF2FA;
    --bg-nav: #D6E4F2;
    --color-nav: #064789;
}
